

div.markup_div{
  display:block;
  margin-top:16px;
}

.markup_command{
  color:#708;
}

div.markup_button{
  margin-top:-12px;
}

p.markup_button{
  margin:0px;
}

div.markup_markup,
div.markup_html_log{
  margin-bottom:28px;
}


div.markup_lab,
div.markup_seq,
div.markup_presentation,
div.markup_state,
div.markup_node,
div.markup_flow,
div.markup_javascript{
  margin-bottom:28px;
}

div.markup_escape{
  margin-bottom:28px;
  border:1px solid #ccc;
}

pre.markup_escape {
  padding:4px;
  margin:0px;
  font-size:inherit;
  color:inherit;
  white-space:pre-wrap;
  background-color:transparent;
  border:none;
}

p.markup_code{
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  margin:0px;
  padding-left:4px;
  font-weight:bolder;
  background-color:#FFEFD5;
}

p.markup_escape{
  border-bottom:1px solid #ccc;
  margin:0px;
  padding-left:4px;
  font-weight:bolder;
  //background-color:#EFFFD5;
  background-color:PeachPuff;
}

p.markup_tc,
p.markup_ts{
  border-bottom:1px solid #ccc;
  margin:0px;
  padding-left:4px;
  font-size:16px;
  color:DarkSlateGray;
  background-color:SkyBlue;
}

rect.markup_state{
  stroke:#666;
  stroke-width:2;
  fill:white;
}

path.markup_state_normal{
  stroke:DimGray;
  stroke-width:2;
  fill:transparent;
}

path.markup_state_success{
  stroke:#90EE90;
  stroke-width:2;
  fill:transparent;
}

path.markup_state_failure{
  stroke:#F08080;
  stroke-width:2;
  fill:transparent;
}

path.markup_state_external{
  stroke:orange;
  stroke-width:2;
  fill:transparent;
}

div.middle_view_documentaion_doc {
  overflow-y:scroll;
  position:absolute;
  top:0px;
  bottom:0px;
  margin:-4px -4px;
}

.doc_nav{
  position:absolute;
  overflow-y:auto;
  margin:0px;
  right:0px;
  top:0px;
  bottom:0px;
  color:#2d2d2d;
  font-size:14px;
  float:left;
}

.doc_nav ul{
  list-style:none;
  margin:0px;
}

.doc_nav ul ul{
  margin:6px 0px 0px 20px;
}

.doc_nav li{
  line-height:16px;
  margin:4px 0px 6px;
}

.doc_nav h3{
  text-transform:uppercase;
  font-size:14px;
  font-weight: bold;
}

.doc_nav a{
  color:#666;
  display:block
}

/*.doc_nav a:hover{
  text-decoration:none;
  color:#337ab7
}*/

.doc_nav a{
  color:Gray;
}

.doc_nav a:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

/*.doc_nav a:active{
  color:#337ab7
}*/

.doc_nav .doc_nav_section{
  border-bottom:1px solid #ccc;
  border-top:1px solid #eee;
  padding:0px;
}

.doc_nav .doc_nav_section:first-child{
  padding-top:0px;
  border-top:0px;
}

.doc_nav .doc_nav_section:last-child{
  padding-bottom:0;
  border-bottom:0
}

h3.doc_nav_title{
  font-size:17px;
  margin-top:12px;
}

h3.doc_nav_heading{
  display:inline-block;
  margin-right:3px;
  margin-top:12px;
  margin-bottom:12px;
}

span.doc_nav_heading_open{
  border-left:3px solid lightblue;
  margin-left:-8px;
  margin-right:5px;
}

/*h3.doc_nav_heading:hover{
  cursor:pointer;
}*/

.h3.doc_nav_heading{
  color:Gray;
}

h3.doc_nav_heading:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

ul.doc_nav_heading_open{
  padding:0px;
  display:inherit;
  padding-bottom:6px;
  margin-top:0px;
}

svg.doc_nav_heading_open{
  transform:rotate(90deg);
}

svg.doc_nav_heading_open:hover{
  cursor:pointer;
}

ul.doc_nav_heading_closed{
  padding:0px;
  display:none;
}

svg.doc_nav_heading_closed{}

svg.doc_nav_heading_closed:hover{
  cursor:pointer;
}

p.doc_nav_inner_heading{
  display:inline-block;
  margin:0px 3px 0px 0px;
  margin-block-start:8px;
  color:#666;
}

/*p.doc_nav_inner_heading:hover{
  cursor:pointer;
  text-decoration:none;
  color:#337ab7
}*/

p.doc_nav_inner_heading{
  color:Gray;
}

p.doc_nav_inner_heading:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

ul.doc_nav_inner_heading_open{
  padding:0px;
  display:inherit;
  padding-bottom:6px;
  margin-top:0px !important;
  margin-bottom:-12px !important;
  margin-left:10px !important;
}

ul li.doc_nav_inner_heading:first-child {
  margin-top:-4px;
}

span.doc_nav_inner_heading_open{
  border-left:3px solid lightblue;
  margin-left:-3px;
}

svg.doc_nav_inner_heading_open{
  transform:rotate(90deg);
  fill:DimGray;
}

svg.doc_nav_inner_heading_open:hover{
  cursor:pointer;
}

ul.doc_nav_inner_heading_closed{
  padding:0px;
  display:none;
}

svg.doc_nav_inner_heading_closed{
  position:relative;
  top:1px;
  fill:DimGray;
}

svg.doc_nav_inner_heading_closed:hover{
  cursor:pointer;
}

li.doc_nav_inner_chosen{
  display: inline-flex;
}

span.doc_nav_inner_chosen{
  border-left:3px solid lightblue;
  margin-right:5px;
}

a.doc_nav_preview:hover{
  cursor:pointer;
}

a.doc_nav_js-type{
  color:green;
}

a.doc_nav_enum{
  color:DarkMagenta;
}

div.doc_nav_preview_outer{
  position:relative;
  margin-top:-3px;
  height:calc(100% - 26px);
  border:1px solid #d8d8d8;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  border-radius:4px;
  overflow:auto;
}

div.doc_nav_preview_local_note{
  background-color:rgb(251,247,214);
  box-shadow:rgb(0 0 0 / 18%) 0px 6px 12px;
  border-left-color:yellow;
  border-left-width:medium;
  border-left-style:double;
  padding:0px 4px;
}

div.doc_nav_navigation_preview{
  overflow-y:auto;
  height:calc(100% - 26px);
}

div.doc_nav_preview_middle{
 // width:136%
}

div.doc_nav_preview_inner{
  padding:4px;
}

div.markup_filter_0{
  display:none;
}

div.markup_filter_horizontal_1{
  position:relative;
  float:left;
  width:calc(100% - 4px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_with_1{
  position:relative;
  float:left;
  width:calc(16.66667% - 4px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_2{
  position:relative;
  float:left;
  width:calc(50% - 4px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_with_2{
  position:relative;
  float:left;
  width:calc(83.33333% - 8px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_3{
  position:relative;
  float:left;
  width:calc(33.33333% - 4px);
  height:calc(100% - 4px);
  margin-right:4px;  
}

div.markup_filter_horizontal_with_3{
  position:relative;
  float:left;
  width:calc(41.66666% - 6px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_4{
  position:relative;
  float:left;
  width:calc(25% - 2px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_horizontal_with_4{
  position:relative;
  float:left;
  width:calc(27.77777% - 4px);
  height:calc(100% - 4px);
  margin-right:4px;
}

div.markup_filter_vertical_1{
  position:relative;
  float:left;
  width:100%;
  height:100%;
  margin-right:4px;
}

div.markup_filter_vertical_2{
  position:relative;
  float:left;
  width:100%;
  height:calc(50% - 4px);
  margin-right:4px;
}

div.markup_filter_vertical_3{
  position:relative;
  float:left;
  width:100%;
  height:calc(33.33333% - 4px);
  margin-right:4px;
}

div.markup_filter_vertical_4{
  position:relative;
  float:left;
  width:100%;
  height:calc(25% - 2px);
  margin-right:4px;
}

p.markup_checkbox{
  display:inline-block;
  margin-left:24px;
}

input.markup_checkbox{
  vertical-align:text-bottom;
  margin-left:2px;
}

label.markup_heading,
div.markup_heading{
  margin-top:4px;
}

button.markup_button_right{
  float:right;
  padding:0px 2px;
  margin-top:0px;
  margin-right:20px;
  color:#555555;
  background-color:whitesmoke;
  border:1px lightgray solid;
}

button.markup_button_other{
  float:right;
  padding:0px 2px;
  margin-top:0px;
  margin-right:0px;
  color:#555555;
  background-color:whitesmoke;
  border:1px lightgray solid;
}

textarea.word_wrap{
  white-space:pre-wrap;
}

textarea.no_word_wrap{
  white-space:pre;
}

div.markup_markup table{
  margin-bottom:20px;
}

div.markup_markup tr{
  border-top:1px solid #ddd;
}

div.markup_markup tr:nth-child(even){
  background:#f9f9f9;
}

div.markup_markup td,th{
  padding:4px;
  white-space:nowrap;
}

div.markup_markup td:last-child{
  white-space:normal;
}

div.local_document_choice{
  position:absolute;
  right:-12px;
  margin-top:4px;
}

button.local_document_choice{
  margin-top: -4px;
  background-color:rgb(251, 247, 214);
  line-height:0.7;
  border:1px solid lightgray;
}

ul.local_document_choice{
  min-width:0px;
  padding:2px 0px;
  margin:-5px -1px;
  background-color:rgb(251, 247, 214);
}

li.local_document_choice{
  margin:0px -1px;
}

/*.local_document_choice > li > a:hover{
  cursor:pointer;
  background-color:palegoldenrod;
  background-image:none;
}*/

.local_document_choice > li > a{
  color:Gray;
}

.local_document_choice > li > a:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}


div.embed_document_choice{
  position:absolute;
  right:16px;
  margin-top:4px;
}

button.embed_document_choice{
  margin-top: -4px;
  background-color:lightblue;
  line-height:0.7;
  border:1px solid lightgray;
}

ul.embed_document_choice{
  min-width:0px;
  padding:2px 0px;
  margin:-5px -1px;
  background-color:lightblue;
}

li.embed_document_choice{
  margin:0px -1px;
}

.embed_document_choice > li > a:hover{
  cursor:pointer;
  background-color:SkyBlue;
  background-image:none;
}


div.local_note_outer{
  width:'100%';
  margin-top:16px;
  position:relative;
  display:flow-root;
}

div.local_note_inner{
  width:100%;
  overflow:auto;
  background-color:rgb(251,247,214);
  box-shadow:rgba(0,0,0,0.176) 0px 6px 12px;
  border-left-color:yellow;
  border-left-width:medium;
  border-left-style:double;
  float:right;
  padding:0px 4px;
}

div.markup_local_note{
  margin:9px !important;
}

div.document_anchor{
  position:absolute;
  right:-32px;
  margin-top:-4px;
}

span.glyphicon_link{
  margin-top:10px;
}

div.documentation_tab_view {
  position:absolute;
  padding:0px;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  overflow:hidden;
}

.btn-transparent{
  background-color:rgba(0,0,0,0);
}

div.documentation_left{
  padding:0px 0px;
}

button.documentation_previous_document{
  float:left;
  margin:6px 0px;
  padding:2px;
  color:#555555;
}

button.documentation_previous_document:hover {
  background-color:Gainsboro;
}

button.documentation_first_document{
  float:left;
  margin:6px 0px;
  padding:2px;
  color:#555555;
}

button.documentation_first_document:hover {
  background-color:Gainsboro;
}

div.documentation_right{
  padding:0px 0px;
}

button.documentation_next_document{
  float:right;
  margin:6px 0px;
  padding:2px;
  color:#555555;
}

button.documentation_next_document:hover {
  background-color:Gainsboro;
}

button.documentation_last_document{
  float:right;
  margin:6px 0px;
  padding:2px;
  color:#555555;
}

button.documentation_last_document:hover {
  background-color:Gainsboro;
}

div.middle_documentation_heading{
  margin:2px;
  padding:3px;
  border:black solid 1px;
  border-radius:2px;
  background-color:#F4F4F4;
}

h4.middle_documentation_heading{
  margin:0px;
  padding-left:2px;
  padding-right:2px;
}

label.documentation_guid{
  margin:1px;
  margin-left:4px;
  margin-right:2px;
  padding:2px;
  border:grey solid 1px;
  border-radius:2px;
  width:280px;
  text-align:center;
  position:relative;
  bottom:1px;
  top:2px;
}
